fastapi
uvicorn
PyPDF2
langchain==0.2.14
langchain-chroma==0.1.2
langchain-community==0.2.6
langchain-core==0.2.32
langchain-openai==0.1.21
langchain-text-splitters==0.2.2
chroma-hnswlib==0.7.1
chromadb==0.4.3
hnswlib==0.7.0
openai
transformers==4.44.0
torch==2.4.0
torchvision==0.19.0
streamlit
sentence-transformers==3.0.1
unstructured
python-magic
unstructured[pdf]